@import "tailwindcss";
@plugin "daisyui";

::-webkit-scrollbar {
  display: none;
}
/* global colors  colors  */
.bg-primary {
  background-color: #1a2a80;
}
.bg-secondary {
  background-color: #3b38a0;
}
.primary-color {
  color: #1a2a80;
}
.secondary-color {
  color: #3b38a0;
}

.bg-light {
  background-color: #b2b0e8;
}
.text-light {
  color: #b2b0e8;
}
